In [ ]:
Bu dosyanın çalışması için gerekli

'r'	: Okumak için aç (varsayılan). Dosya yoksa fileNotFoundError yükseltilir.
'a' : Yazmaya açık. Zaten varsa, dosyanın sonuna eklenir. Dosya yoksa, oluşturacaktır.
'w'	: Yazmaya açık. Dosya zaten mevcutsa, üzerine yazılacaktır. Dosya yoksa, oluşturacaktır.
'x'	: Özel oluşturma için açın, dosya zaten mevcutsa başarısız olur.
'b'	: İkili modda açın.
't'	: Metin dosyası olarak aç (varsayılan).
'+'	: Güncellemeye açık (okuma ve yazma).

# Reading Files

In [12]:
my_file = open('first.txt', "w") # w kipi ile olmayan dosya yazma modunda oluşturulur ve açılır.
print(type(my_file))
my_file.write('bugünkü dersler python son ders') # write fonksiyonu ile dosya içerisine birşeyler yazabiliriz.
my_file = open('first.txt', "r")
print(my_file.read())
my_file.close() # close ile de açtığımız dosyayı tekrar kapatmalıyız.

<class '_io.TextIOWrapper'>
bugünkü dersler python son ders

In [13]:
my_file = open('first.txt', "r")
print(my_file.read())
my_file.close() # close ile de açtığımız dosyayı tekrar kapatmalıyız.

bugünkü dersler python son ders

In [14]:
my_file = open("fishes.txt", "r", encoding="utf-8") # utf-8 ile de açabiliriz. Hatta alışkanlık haline getirmeliyiz.
print(type(my_file))
print(my_file.read())
my_file.close()

<class '_io.TextIOWrapper'>
Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

Read () Metodu

In [10]:
# with as sözdizimi ile open () ve close() metodu birlikte kullanılmış oluyor.
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file)
    print()
    print(file.read())
    content = file.read()

<_io.TextIOWrapper name='fishes.txt' mode='r' encoding='utf-8'>

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [19]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    content = file.read()

In [22]:
content

'Orca is a kind of Dolphin.\nBlue Whale is the largest animal known on earth.\nSharks are the sister group to the Rays (batoids).\nThe Tuna Fish can weigh up to 260 kg.\nSquid and Octopus are in the same class.'

In [26]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file.read(33))
    content_33 = file.read(33)

Orca is a kind of Dolphin.
Blue W

In [27]:
content_33  # ikinci yazdırmamızda kursor'un olduğu yerden devam.

'hale is the largest animal known '

In [28]:
len(content)

205

In [29]:
print(content[:33])

Orca is a kind of Dolphin.
Blue W

In [30]:
my_file = open('first.txt', 'r') # okuma modunda açtık. 
print(my_file.read()) # yazılı olanları görüntüledik.
my_file.close() # ve kapattık.

bugünkü dersler python son ders

In [32]:
my_file = open('first.txt', 'r')
print(my_file.read(5))  # ilk 5 karakter yazdırıldı.
print(my_file.read(10)) # sonraki 10 karakter yazdırıldı.
print(my_file.seek(2)) # imleç 2 olarak değiştirildi.
print(my_file.read(10)) # 2. karekterden sonra başlayarak yazdırmaya devam eder.
print(my_file.tell())  # geçerli imleç konumunu döndürür.

bugün
kü dersler
2
günkü ders
12

tell() Method

In [ ]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file.read(33))
    print(file.read(15))
    print(file.tell())
    file.seek(0) # imleç 2 olarak değiştirildi.
    print(file.read(33))
    print(file.tell()) # geçerli imleç konumunu döndürür.

Orca is a kind of Dolphin.
Blue W
hale is the lar
49
Orca is a kind of Dolphin.
Blue W
34

In [33]:
with open("rumi.txt", "r", encoding="utf-8") as rumi :
    print(rumi.read())

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [ ]:
with open("rumi.txt", "r", encoding="utf-8") as rumi :
    print(rumi.read(33))
    print(rumi.read(15))
    print(rumi.tell())
    
    rumi.seek(15)  # cursör'ü 15 e aldım. dolaysıyla 16 yani 2. kıtadan başlatmış oldum.
    
    print(rumi.read(33))
    print(rumi.tell())

I want to sing
Like the birds sin
g,
Not worrying
50

Like the birds sing,
Not worryin
49

readline() Metodu

In [ ]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file.readline()) # readline tüm satırı okur.
    print(file.readline())
    print(file.readline())

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [ ]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file.readline(8)) # ilk 8 karakteri yazdırdı
    print(file.readline(13)) # kaldığı yerden devam etti.
    print(file.readline(13)) # kalan da bitirdi.

Orca is
a kind of Dol
phin.

In [ ]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    print(file.readline(13))
    print(file.readline(13))
    print(file.readline(13))
    print(file.readline(13))

Orca is a kin
d of Dolphin.


Blue Whale is

In [34]:
with open("fishes.txt", "r", encoding = "utf-8") as file :
    part_1 = file.readline(13)
    part_2 = file.readline(13)
    part_3 = file.readline(13)
    part_4 = file.readline(13)

In [35]:
print(part_1)
print(part_2)
print(part_4)
part_3

Orca is a kin
d of Dolphin.
Blue Whale is

'\n'

In [ ]:
first_line = part_1 + part_2 + part_3

first_line

'Orca is a kind of Dolphin.\n'

In [ ]:
with open("rumi.txt", "r", encoding="utf-8") as rumi :
    
    print(rumi.readline())
    print(rumi.readline())
    print(rumi.readline(500)) # 3. satırdan fazla karakter döndürmesini istesek de en fazla o satır kadar döndürür.

I want to sing

Like the birds sing,

Not worrying about

In [ ]:
my_file = open('first.txt', 'r')

print(my_file.readline(5))  # ilk 5 karakteri yazdırdı
print(my_file.readline(5))
print(my_file.readline())  # satır bitene kadar devam etti.
my_file.close()

bugün
kü de
rsler python son ders

Readlines() Metodu

In [ ]:
with open("fishes.txt", "r") as file :
    fish = file.readlines()  # satırları birleştirerek okur. Her satırı listenin bir elemanı yapar.
fish

['Orca is a kind of Dolphin.\n',
 'Blue Whale is the largest animal known on earth.\n',
 'Sharks are the sister group to the Rays (batoids).\n',
 'The Tuna Fish can weigh up to 260 kg.\n',
 'Squid and Octopus are in the same class.']

In [ ]:
type(fish)

list

In [ ]:
for line in fish:
    print(line)

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
with open("rumi.txt", "r") as file :
    rumi = file.readlines()
rumi

['I want to sing\n',
 'Like the birds sing,\n',
 'Not worrying about\n',
 'Who hears or\n',
 'What they think.']

In [38]:
my_file = open('first.txt', 'r')

print(my_file.readline(5))  # ilk satır 5. index.
my_file.seek(2) # 2. index'e adık.
print(my_file.readlines()) 

my_file.close()

bugün
['günkü dersler python son ders']

In [ ]:
my_file = open('first.txt', 'r')

print(type(my_file.readlines()))  # Türünü görelim.

my_file.close()

<class 'list'>

Writing Files

In [ ]:
with open("dummy_file.txt", "w", encoding="utf-8") as file :
    
    file.write("This is the first line of my text file.")

with open("dummy_file.txt", "r", encoding="utf-8") as file :
    print(file.read())

This is the first line of my text file.

In [ ]:
ls

In [ ]:
import os

In [41]:
os.listdir()

['00_Files.ipynb',
 'first.txt',
 'fishes.txt',
 'fruits.csv',
 'istiklal.txt',
 'rumi.txt',
 'titanic.csv']

In [40]:
files = os.listdir()
files

['00_Files.ipynb',
 'first.txt',
 'fishes.txt',
 'fruits.csv',
 'istiklal.txt',
 'rumi.txt',
 'titanic.csv']

Using Loops

In [45]:
my_file = open('first.txt', 'r')

for i in my_file:
    print(i) 

my_file.close()

bugï¿½nkï¿½ dersler python son ders

Yarin Network dersi var.

SOnraki gun tatil.

In [44]:
my_file = open('first.txt', 'r')

for i in my_file.readlines():
    print(i)
my_file.close()

bugï¿½nkï¿½ dersler python son ders

Yarin Network dersi var.

SOnraki gun tatil.

In [50]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

In [57]:
with open("fruits.txt", "w", encoding="utf-8") as dosyam :
    for meyve in fruits :
        dosyam.write(meyve + "\n")
        
# with open("fruits.txt", "r", encoding = "utf-8") as file :
#     print(file.read())

In [58]:
with open("fruits.txt") as file:
    fruits2 = file.readlines()
fruits2

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [63]:
with open("fruits2.txt", "w", encoding="utf-8") as ff :
    ff.writelines(fruits2)

In [64]:
with open("fruits2.txt", "r", encoding="utf-8") as ff :
    print(ff.read())

Banana
Orange
Apple
Strawberry
Cherry

In [69]:
with open("fruits2.txt", "a", encoding="utf-8") as ff : # a modunda append yaptı.
    ff.writelines(fruits2)

In [70]:
with open("fruits2.txt", "r", encoding="utf-8") as ff :
    print(ff.read())

Banana
Orange
Apple
Strawberry
Cherry
Banana
Orange
Apple
Strawberry
Cherry

The Matter of Closing the Files
Dosya ile işimiz bittiğinde verileri kaybetmemek için close() ile kapatmamız gerekir. Bunun bir kısa yolu vardır. Aşağıda.

In [72]:
with open('first.txt', 'r') as my_file:
    print(my_file.read())

bugï¿½nkï¿½ dersler python son ders
Yarin Network dersi var.
SOnraki gun tatil.

In [73]:
fruits3 = fruits2 + ["Lemon"]
fruits3

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n', 'Lemon']

In [76]:
with open('fruits3.txt', "w", encoding='utf-8') as file:
    file.writelines(fruits3)  # For döngüsü ile yapmamız gereken writelines ile yaptık.

In [79]:
with open('fruits3.txt', "r", encoding='utf-8') as file:
    print(file.read())

Banana
Orange
Apple
Strawberry
Cherry
Lemon

Write

In [80]:
with open('dummy.txt', 'w') as file:
    file.write('Bu ilk satır')

with open('dummy.txt', 'r') as file:
    print(file.read())

Bu ilk satır

In [81]:
with open('dummy.txt', 'w') as file:  # görüldüğü gibi ilk satırda yazılan silindi.
    file.write('Bu ikinci satır')  # Çünkü W her çalıştığında siler.

with open('dummy.txt', 'r') as file:
    print(file.read())

Bu ikinci satır

In [82]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write('My first sentence\ndevamı')
    file.write('My second sentence,')
    file.write('My third sentence\n')
    file.write('My fourth sentence ')
    file.write('My last sentence')

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())

My first sentence
devamıMy second sentence,My third sentence
My fourth sentence My last sentence

In [ ]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

with open('fruit.txt', 'w') as file:
    for i in fruits:
        file.write(i + '\n')
with open('fruit.txt', 'r') as file:
    print(file.read())
with open('fruit.txt', 'r') as file:
    print(file.readlines())

Banana
Orange
Apple
Strawberry
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [83]:
fruits = ['Banana', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # takes an iterator for writing
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())

BananaOrange
Apple
Strawberry
Cherry

['BananaOrange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

In [84]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # creates a file containing the elements of the list

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the file

with open("fruits.txt", 'a', encoding="utf-8") as file:
    file.write('Melon\n')  # adds "Melon" to the end of the existing file
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the last content of the file

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())

Banana
Orange
Apple
Strawberry
Cherry

Banana
Orange
Apple
Strawberry
Cherry
Melon

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n', 'Melon\n']

In [87]:
with open("istiklal.txt", "r", encoding = "utf-8") as file:
    print(file.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.

Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?

Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.

Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [88]:
with open("istiklal.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

In [89]:
lines

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 '\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 '\n',
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 '\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 '\n',
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 '\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 '\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 '\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n']

In [ ]:
counter = 0

with open("istiklal.txt", "w", encoding="utf-8") as file:
    for line in lines:
        counter += 1
        if counter % 4 == 0:
            file.write(line + '\n')
        else:
            file.write(line)

In [ ]:
with open("istiklal.txt", "r", encoding="utf-8") as file :
    print(file.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.

Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?

Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.

Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

CSV

In [99]:
csv = open('fruits.csv', 'r')
print(csv.read())
csv.close()

['no', 'fruit', 'amount']
['1', 'Banana', '4 kg']
['2', 'Orange', '5 kg']
['3', 'Apple', '6 kg']
['4', 'Strawberry', '2 kg']
['5', 'Cherry', '1 kg']

In [100]:
with open('fruits.csv', 'r') as csv:
    print(csv.read())

['no', 'fruit', 'amount']
['1', 'Banana', '4 kg']
['2', 'Orange', '5 kg']
['3', 'Apple', '6 kg']
['4', 'Strawberry', '2 kg']
['5', 'Cherry', '1 kg']

In [101]:
import csv  # loads csv module

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file)  # reader() function takes each
                                 # row (lines) into a list
    for row in csv_rows: 
        print(row)

["['no'", " 'fruit'", " 'amount']"]
["['1'", " 'Banana'", " '4 kg']"]
["['2'", " 'Orange'", " '5 kg']"]
["['3'", " 'Apple'", " '6 kg']"]
["['4'", " 'Strawberry'", " '2 kg']"]
["['5'", " 'Cherry'", " '1 kg']"]

In [102]:
import csv

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter= ",")  # gives the same output as the previous one
                                 
    for row in csv_rows: 
        print(row)

["['no'", " 'fruit'", " 'amount']"]
["['1'", " 'Banana'", " '4 kg']"]
["['2'", " 'Orange'", " '5 kg']"]
["['3'", " 'Apple'", " '6 kg']"]
["['4'", " 'Strawberry'", " '2 kg']"]
["['5'", " 'Cherry'", " '1 kg']"]

In [103]:
import csv 

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter = ':')  # we specified a char ":" that is not used
                                                  # in the csv file as a value of delimiter
    for row in csv_rows: 
        print(row)

["['no', 'fruit', 'amount']"]
["['1', 'Banana', '4 kg']"]
["['2', 'Orange', '5 kg']"]
["['3', 'Apple', '6 kg']"]
["['4', 'Strawberry', '2 kg']"]
["['5', 'Cherry', '1 kg']"]

In [107]:
import pandas as pd # Tablo haline dönüştürdü.
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [109]:
bayanlar = df[df["Sex"] == "female"]

bayanlar

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [110]:
bayanlar.to_csv("titanic_bayanlar.csv", index=False) # bayanlar isminde dosya oluşturdu.

In [111]:
df.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64